* { box-sizing: border-box; }
html,body { 
  height: 100%; 
  width: 100%; 
  background: linear-gradient(to right top, #292465, #231f56, #1d1948, #181439, #130e2c, #130e2c, #130e2c, #130e2c, #181439, #1d1948, #231f56, #292465);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
